:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f9f8f6;
  color: #111;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
